*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 250px;
  padding: 8px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none !important;
}

/* LOADING SCREEN */

.loading-screen {
  height: 68px;
  position: relative;
}

.loading-screen::before {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
  border: 2px solid #00796b;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

/* SELECTION SCREEN */

.selection-screen small {
  display: block;
  margin-top: 8px;
  margin-bottom: 12px;
  color: #555;
}

.selection-screen ul {
  padding: 0;
  padding-top: 8px;
  margin: 0 -8px;
  border-top: 1px solid #eee;
  list-style: none;
}

.selection-screen li {
  padding: 6px 8px 6px 6px;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.selection-screen li:not(.disabled):hover {
  color: #fff;
  background-color: #00796b;
}

.selection-screen li.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.selection-screen li.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left-color: #00796b;
}

.selection-screen li svg {
  display: block;
}

.selection-screen li path {
  fill: #00796b;
}

.selection-screen li:hover path {
  fill: currentColor;
}

/* ERROR SCREEN */

.error-screen svg {
  display: block;
  margin: auto;
}

.error-screen p {
  margin-top: 8px;
}

/* ANIMATIONS */

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
